# Project exclude paths
/target/

# Project security
/src/main/webapp/WEB-INF/spring/root-context.xml

# Project testing
/src/main/webapp/WEB-INF/views/test.jsp

# Project setting
/.idea/
/.settings/

/src/tree.txt