@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 90%;
    height: auto;
    margin: 0 auto;
    font-family: 'MapoPeacefull';
}

.container {
    width: 100%;
    margin: 0 auto;
}
