.ui-datepicker {
    font-family: "MapoPeacefull";
}

.ui-datepicker-header {
    background-color: #73746E;
}

select.ui-datepicker-month, select.ui-datepicker-year {
    font-family: "MapoPeacefull";
}

.ui-datepicker-calendar > tbody tr td a.ui-state-default {
    background-color: #ffffff;
    color: #73746E;
}

.ui-datepicker-calendar > tbody tr td a.ui-state-highlight {
    background-color: #73746E;
    border: #73746E;
    color: #3a3b38;
}

.ui-datepicker-calendar > tbody tr td a.ui-state-active {
    background-color: #3a3b38;
    border: #3a3b38;
    color: #ffffff;
}