<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lhinfoDB">

    <select id="selectLocations" resultType="Location">
        SELECT *
        FROM location
    </select>

    <select id="selectSupplyTypes" resultType="SupplyType">
        SELECT *
        FROM supplytype
    </select>

    <select id="selectNoticeTypes" resultType="NoticeType">
        SELECT *
        FROM noticetype
    </select>

    <select id="selectNoticeStatusTypes" resultType="NoticeStatusType">
        SELECT *
        FROM noticestatustype
    </select>

    <insert id="insertAccount" parameterType="Account">
        INSERT INTO account (identify, password, name, email)
        VALUES (#{identify}, md5(#{password}), #{name}, #{email})
    </insert>

    <select id="selectAccount" resultType="Account">
        SELECT *
        FROM account
        WHERE identify=#{identify} and password=#{password}
    </select>

    <select id="checkIdentify" resultType="java.lang.Integer">
        SELECT count(*)
        FROM account
        WHERE identify=#{identify}
    </select>
</mapper>