<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="Location" type="project.personal.lhinfo.entity.Location"/>
        <typeAlias alias="SupplyType" type="project.personal.lhinfo.entity.SupplyType"/>
        <typeAlias alias="NoticeType" type="project.personal.lhinfo.entity.NoticeType"/>
        <typeAlias alias="NoticeStatusType" type="project.personal.lhinfo.entity.NoticeStatusType"/>
        <typeAlias alias="Account" type="project.personal.lhinfo.entity.Account"/>
    </typeAliases>
</configuration>